// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// $navbar-background: #5158FE;
// $tabs: #5158FE;
// $navbar-button: #FFFFFF;
// $urgent-button: #F76C6C;
// $start-button: #F76C6C;
// $finish-button: #F76C6C;
// $table-rop-row: #2FA380;

// LANDING PAGE
$landing-text: white;
$landing-button: #F76C6C;

// NAVBAR

$navbar-background: #5158FE;
$navbar-button: #FFFFFF;

// TABLE

// title
$table-title-background: #5158FE;
$table-title-text: white;
// view switching
$tab-active-background: #5158FE;
$tab-active-text: white;
$tab-non-active-background: #EAECFF;
$tab-non-active-text: #5158FE;
// table
$table-header: #5158FE;
$table-header-text: white;
$table-row: #EAECFF;
$table-row-text: black;
$task-description-background: #ededed;

// TASK POPUP

$popup-btn-task: #5158FE;
$popup-background-title: #5158FE;

// SHARED

$body: #F4F4F4;
$urgent: #F76C6C;
$urgent-button: #F76C6C;
$start-button: #F76C6C;
$finish-button: #F76C6C;
// $alert-background: #5158FE;




