// Specific CSS for your home-page

.home-video-wrapper {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 object-fit: cover;
 top: 0;
 z-index: 1;
}

.home-video-text {
  z-index: 2;
  // text-align: center;
  display: flex;
  justify-content: center;
  // align-items: center;
  // width: 650px;
  // height: 300px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.cancel-opacity {
  opacity: 1;
}

h1.home {
  color: white;
  font-family: $landing-h1-3;
  font-size: 72px;
}

p.home {
  color: white;
  font-family: $landing-h1-3;
  font-size: 30px;
  opacity: 0.9;
}

.banner-button-lined {
  display: flex;
  // flex-direction: column;
  z-index: 2;
}

