<div class="table-page">

  <div class="table">
      <div class="headers">
        <h4 class="header-font content-task-deadline">Deadline</h4>
        <h4 class="header-font content-task-urgent">Urgent?</h4>
        <h4 class="header-font content-task-title">Title</h4>
        <h4 class="header-font content-task-etc">Time needed</h4>
        <h4 class="header-font content-task-owner">Owner</h4>
      </div>
        <% @tasks.each do |task| %>
          <div class="row-task">
            <div class="content-task-deadline task-font"><p><%= task.deadline %></p></div>
            <div class="content-task-urgent task-font"><input type="checkbox" name="urgent"></div>
            <div class="content-task-title task-font"><%= task.title %></div>
            <!-- <div class="content-task hidden"><p><%= task.description %></p></div> -->
            <div class="content-task-etc task-font"><p><%= task.etc %></p></div>
            <div class="content-task-owner task-font"><p>To-do</p></div>
          </div>
        <% end %>

  </div>
</div>
