.links-banner-main {
  background-color: $landing-button;
  text-align: center;
  // width: 250px;
  // height: 70px;
  text-decoration:none;
  color: $landing-text;
  font-size: 20px;
  border: 3px solid #F76C6C;
  padding: 10px 25px 10px 25px;
  border-radius: 50px;
  opacity: 0.75;
  transition: opacity 0.3s ease;
  font-weight: bold;
  // margin-bottom: 20px;
  margin-right: 10px;
}


.links-banner-about {
  text-align: center;
  text-decoration: none;
  color: $landing-text;
  font-size: 20px;
  border: 3px solid $landing-button;
  padding: 10px 25px 10px 25px;
  border-radius: 50px;
  opacity: 0.75;
  transition: opacity 0.3s ease;
  font-weight: bold;
  margin-right: 10px;
}

.links-table-owner {
  text-decoration: none;
  color: black;
  font-size: 16px;
  opacity: 0.95;
  transition: opacity 0.3s ease;
}
.no-owner {
  color: $urgent;
}

// small buttons for navbar
.link-sm {
  font-size: 15px;
  padding: 5px 20px 5px 20px;
}

.links-banner-main:hover {
  opacity: 1;
  // background: linear-gradient(#F76C6C, #F76060);
  // border: 3px solid #F76060 transparent;
  text-decoration: none;
  color: $landing-text;
  font-weight: bold;
}

.links-banner-about:hover {
  opacity: 1;
  text-decoration: none;
  color: $landing-text;
  // font-weight: bold;
}
.links-table-owner:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
}
.no-owner:hover {
  color: $urgent;
}

.btn-primary {
  margin-bottom: 30px;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
}
