.login-form {
 width: 100%;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.content-login-form {
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
  width: 50%;
  border-radius: 10px;
  // background-color: white;
}

.login-form-header {
  background-color: $navbar-background;
  color: white;
  border-radius: 10px;
  // display: center;
  display: flex;
  align-items: center;
}

.login-form-header h1 {
  padding: 5px;
  margin: 0px;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-inputs {
  padding-top: 10px;
  font-size: 16px;
}

.form-group {
  padding-left: 5px;
  padding-right: 5px;
}

.btn-form-login {
  background: lighten($navbar-background, 3%);
  border-radius: 50px;
  border-color: lighten($navbar-background, 3%);
  padding: 0px;
}

.btn-form-login:hover {
  background: $navbar-background;
}

.btn {
  color: white;
}

.btn:hover {
  color: white;
}

.form-links {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  display: block;
}

