.navbar-lewagon {
  justify-content: space-between;
}

.navbar-pages {
  background: $navbar-background;
}

.navbar-home {
  // background: white;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-size: x-large;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 10px;
  margin: 0px;
}

.navbar {
  height: 55px;
  // z-index: 2;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-align: center;
  border: 1px solid $navbar-button;
  padding: 4px;
  opacity: 0.75;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  width: 80px;
}

h1 {
  color: white;
}


.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.navbar-light .navbar-nav .nav-link  {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
   opacity: 1;
   text-decoration: none;
}

.navbar-logo h1 {
  font-family: "Open Sans";
  color: white;
  font-size: 35px;
  margin: 0px 0px 1.5px 0px;
  padding: 0px 5px;
}
.navbar-logo {
  display: flex;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.navbar-logo:hover {
  text-decoration: none;
}
// landing navbar
.navbar-hover-landing:hover {
  filter: drop-shadow(1.5px 1.5px 0px #3b3b3b);
}
.navbar-hover-landing-logo:hover {
  filter: drop-shadow(1px 1px 0px #3b3b3b);
}
// normal navbar
.navbar-hover:hover {
  filter: drop-shadow(3px 3px 0px #333333);
}
.navbar-hover-logo:hover {
  filter: drop-shadow(2px 2px 0px #333333);
}

.navbar-logo a {
  text-decoration: none;
  display: flex;
}

// .fa-tasks {
//   color: $navbar-button;
//   text-decoration: none;
//   // font-family: "Open Sans";
// }


.fa-chart-line {
  color: $navbar-button;
  font-size: 30px;
}30px
.fa-chart-line:hover {
  color: $navbar-button;
  // text-shadow: 0px -2px 0px rgba(0,0,0,0.3), 0 0 1px rgba(255,255,255,0.8),0 -1px 1px rgba(255,255,255,0.5);
  // text-shadow: 0px -3px 0px rgba(0,0,0,0.3);
}

.fa-users {
  color: $navbar-button;
  font-size: 30px;
}

.fa-users:before {
  color: $navbar-button;
}
.fa-users:hover {
  color: $navbar-button;
  filter: drop-shadow(3px 3px 0px black);
  // text-shadow: 0px -3px 0px rgba(0,0,0,0.3);
}

// .fa-tasks {
//   color: $navbar-button;
// }

.fa-plus-circle {
  color: $navbar-button;
  font-size: 30px;
}

.fa-plus-circle:hover {
  color: $navbar-button;
  // text-shadow: 0px -3px 0px rgba(0,0,0,0.3);
}

.fa-user {
  color: $navbar-button;
  font-size: 30px;
}

.fa-user:hover {
  color: $navbar-button;
  // text-shadow: 0px 3px 0px rgba(0,0,0,0.5);
  font-size: 30px;
}

.logo {
  width: 35px;
}


