// css for container for the tablew page
.table-page {
 // TO DO: set the height ot push footer down
 width: 100%;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

// table css
.table {
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
  width: 90%;
  border-radius: 10px;
}

.row-task{
  height: 50px;
  display: flex;
}

.headers {
  display: flex;
}

.content-task {
  margin: 15px;
}

.task-font {
  font-size: 16px;
}

.header-font {
  color: white;
  font-size: 16px;
  text-align: left;
}

.content-task-deadline-header {
  margin: 0px 2.5px 2.5px 0px;
  border-radius: 10px 0px 0px 0px;
  width: 15%;
  height: 40px;
  padding: 10px;
  background-color: #5158FE;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.content-task-urgent-header {
  margin: 0px 2.5px 2.5px 2.5px;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px;
  width: 10%;
  background-color: #5158FE;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.content-task-title-header {
  margin: 0px 2.5px 2.5px 2.5px;
  border-radius: 0px 0px 0px 0px;
  height: 40px;
  padding: 10px;
  width: 50%;
  background-color: #5158FE;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.content-task-etc-header {
  margin: 0px 2.5px 2.5px 2.5px;
  border-radius: 0px 0px 0px 0px;
  width: 10%;
  height: 40px;
  padding: 10px;
  background-color: #5158FE;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.content-task-owner-header {
  margin: 0px 0px 2.5px 2.5px;
  border-radius: 0px 10px 0px 0px;
  width: 15%;
  height: 40px;
  padding: 10px;
  background-color: #5158FE;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.content-task-deadline {
  margin: 2.5px 2.5px 2.5px 0px;
  border-radius: 10px 0px 0px 10px;
  width: 15%;
  height: 40px;
  background-color: #EAECFF;
  padding: 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.content-task-urgent {
  margin: 2.5px 2.5px 2.5px 2.5px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px;
  background-color: #EAECFF;
  width: 10%;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.content-task-title {
  margin: 2.5px 2.5px 2.5px 2.5px;
  height: 40px;
  background-color: #EAECFF;
  border-radius: 0px;
  padding: 10px;
  width: 50%;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.content-task-etc {
  margin: 2.5px 2.5px 2.5px 2.5px;
  width: 10%;
  height: 40px;
  background-color: #EAECFF;
  border-radius: 0px;
  padding: 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.content-task-owner {
  margin: 2.5px 0px 2.5px 2.5px;
  border-radius: 0px 10px 10px 0px;
  width: 15%;
  height: 40px;
  background-color: #EAECFF;
  padding: 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

