// CONTAINER FOR THE TABLE PAGE

.table-page {
 width: 100%;
 min-width: 1070px;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.card-body {
  background-color: $light-gray;
  border: none;
}
// TABLE

.table {
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
  width: 100%;
  border-radius: 10px;
}

// HEADERS

.headers {
  display: flex;
  margin-bottom: 10px;
}

.header-cell {
  height: 45px;
  padding: 10px;
  background-color: $table-header;
  box-shadow: 0 3px 4px rgba(0,0,0,.3);
}

.header-font {
  color: $table-header-text;
  font-size: 16px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

// INDIVIDUAL HEADERS

.content-task-deadline-header {
  margin-right: 10px;
  border-radius: 10px 0px 0px 0px;
  width: 15%;
}

.content-task-urgent-header {
  margin-right: 10px;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.content-task-title-header {
  margin-right: 10px;
  border-radius: 0px 0px 0px 0px;
  width: 50%;
}

.content-task-etc-header {
  margin-right: 10px;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.content-task-owner-header {
  border-radius: 0px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

// individual view only
.content-task-status-header {
  border-radius: 0px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

// ROWS

.row-task{
  // height: 50px;
  display: flex;
  margin-bottom: 10px;
}

.row-cell {
  height: 45px;
  background-color: $table-row;
  padding: 10px;
  box-shadow: 0 3px 4px rgba(0,0,0,.1);
}

.content-task {
  margin: 15px;
}

.task-font {
  font-size: 16px;
  color: $table-row-text;
}
// INDIVIDUAL TASK ROWS

.content-task-deadline {
  margin-right: 10px;
  border-radius: 10px 0px 0px 10px;
  width: 15%;
}
.content-task-deadline p {
  margin-bottom: 0px;
}

.content-task-urgent {
  margin-right: 10px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.content-task-title {
  margin-right: 10px;
  border-radius: 0px;
  width: 50%;
}

.content-task-etc {
  margin-right: 10px;
  border-radius: 0px;
  width: 10%;
}

.content-task-etc p {
  margin-bottom: 0px;
}

.content-task-owner {
  border-radius: 0px 10px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  padding: 0px;
}

// individual view only
.content-task-status {
  border-radius: 0px 10px 10px 0px;
  padding: 0px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// TASK DESCRIPTION - COLLAPSED

.div-collapsed {
  // border: 1px solid black;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  // stretches height of divs in collapsed box so they are the same
  align-items: stretch;
  justify-content: right;
}

.edit-delete {
  // width: 15%;
  width: calc(15% - 5px);
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: $task-description-background;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
  // height to match task-description
  // height: 100%;
}

.task-description {
  // width: 85%;
  width: calc(85% + 5px);
  padding: 10px;
  margin-right: 10px;
  background-color: $task-description-background;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

// ICONS

.fa-trash-alt:before {
  padding: 0px 7px;
  font-size: 15px;
}

.fa-pencil-alt:before {
  padding: 0px 7px;
  font-size: 15px;
}

.fa-play-circle:before {
  padding: 0px 7px;
  font-size: 25px;
  color: $start-button;
}

.fa-check-square:before {
  padding: 0px 7px;
  font-size: 25px;
  color: $urgent;
}

.etc-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.etc-avatar p{
  margin: 0;
}
