.tab-headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 30px;
}

.outstanding {
  color: $tab-non-active-text;
  background-color: $tab-non-active-background;
  font-size: 16px;
  font-weight: bold;
  // border-right: solid, ;
  padding: 15px;
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 10px;

}

.completed {
  color: $tab-non-active-text;
  background-color: $tab-non-active-background;
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.active {
  background-color: $tab-active-background;
  color: $tab-active-text;
}
