// HEADERS

.fa-arrow-circle-up.header {
  color: white;
  opacity: 1;
}

.fa-user-table-header {
  font-size: 20px;
}

.fa-user-table-header:hover {
  font-size: 20px;
}

.fa-clock {
  font-size: 20px;
}

// ROWS

.fa-arrow-circle-up {
  color: $urgent-button;
  opacity: 0.8;
  font-size: 20px;
}


.fa-arrow-circle-up:hover {
  opacity: 1;
}

.fa-circle {
  // color: #35D6CF;
  color: $urgent-button;
  opacity: 0.8;
  font-size: 20px;
}
.fa-circle:hover {
  // color: #35D6CF;
  color: $urgent-button;
  opacity: 1;
}

// TASK DESCRIPTION

// icon in the top left corner in the task description
.fa-edit:before {
  font-size: 18px;
}

.fa-trash-alt {
  color: $table-header;
  opacity: 0.8;
  font-size: 17px;
}

.fa-trash-alt:hover {
  color: $table-header;
  opacity: 1;
}

.fa-pencil-alt {
  padding: 0px 15px 7px 0px;
  color: $table-header;
  opacity: 0.8;
  font-size: 17px;
}

.fa-pencil-alt:hover {
  color: $table-header;
  opacity: 1;
}

// INDIVIDUAL VIEW - COMPLETED

.fa-check-square {
  font-size: 20px;
  color: $green-completed;
  opacity: 0.8;
}

.fa-check-square:hover {
  color: $urgent;
  opacity: 0.8;
}

.fa-square {
  font-size: 20px;
  color: $urgent;
  opacity: 0.8;
}

.fa-square:hover {
  color: $green-completed;
  opacity: 0.8;
}

// OLD - not in use

// .i.far.fa-check-square::before:hover {
//   color: #83c327;
//   opacity: 1;
// }


// .fa-play-circle:before {
//   padding: 0px 7px;
//   color: $start-button;
// }

// .done-button {
//   // background-color: $finish-button;
//   background-color: $table-row;
//   // color: white;
//   // border-radius: 3px;
//   // border-color: $finish-button;
//   // opacity: 0.9;
//   width: 80px;
//   height: 28px;
//   text-align: center;
//   text-decoration: none;
//   color: $finish-button;
//   border: 1.3px solid $urgent-button;
//   padding: 1px;
//   border-radius: 50px;
//   opacity: 0.75;
//   transition: opacity 0.3s ease;
//   font-weight: bold;
//   margin-right: 0 auto;
// }

// .done-button:hover {
//   opacity: 1;
//   text-decoration: none;
//   color: $finish-button;
//   font-weight: bold;
//   outline: none;
// }
