.tab-headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 30px;
}

.outstanding {
  color: $tab-non-active-text;
  background-color: $tab-non-active-background;
  font-size: 18px;
  font-weight: bold;
  // border-right: solid, ;
  padding: 10px;
  height: 45px;
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 10px 0px 0px 0px;
  box-shadow: 0 3px 4px rgba(0,0,0,.1);

}

.completed {
  color: $tab-non-active-text;
  background-color: $tab-non-active-background;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  height: 45px;
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 0px 10px 0px 0px;
  box-shadow: 0 3px 4px rgba(0,0,0,.1);
}

.active {
  background-color: $tab-active-background;
  color: $tab-active-text;
  box-shadow: 0 3px 4px rgba(0,0,0,.3);
}
