// css for container for the tablew page
.table-page {
 // TO DO: set the height ot push footer down
}

// table css
.table {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 90%;
  border-radius: 10px;
}

.row-task{
  height: 50px;
  display: flex;
}

.headers {
  display: flex;
}

.content-task {
  margin: 15px;
}

.task-font {
  font-size: 10px;
}

.header-font {
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: #5158FE !important;
}

.content-task-deadline {
  margin: 7px;
  width: 15%;
  height: 40px;
  background-color: #EAECFF;
  border-radius: 10px;
  padding: 10px;
}

.content-task-urgent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  margin: 7px;
  background-color: #EAECFF;
  width: 15%;
}

.content-task-title {
  margin: 7px;
  height: 40  px;
  background-color: #EAECFF;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
}

.content-task-etc {
  margin: 7px;
  width: 15%;
  height: 40px;
  background-color: #EAECFF;
  border-radius: 10px;
  padding: 10px;
}

.content-task-owner {
  margin: 7px;
  width: 15%;
  height: 40px;
  background-color: #EAECFF;
  border-radius: 10px;
  padding: 10px;
}

